UI menu.c32
MENU TITLE Host Menu
PXERetry 5
PROMPT 0
{# unit: 0.1s #}
TIMEOUT 100

LABEL bootlocal
  MENU LABEL Local Boot
  TEXT HELP
  This will exit from the network boot menu and attempt
  to boot from local media (hard disk, DVD, etc)
  ENDTEXT
  localboot 0

LABEL centos7
MENU LABEL centos7
  ipappend 2
  kernel centos/7/os/x86_64/images/pxeboot/vmlinuz
  append initrd=centos/7/os/x86_64/images/pxeboot/initrd.img repo={{ distros_mirror }}/centos/7/os/x86_64/ ks={{ ks_url }}/centos7.ks ipv6.disable=1 net.ifnames=0 biosdevname=0 {{ kernel_options }}

LABEL fedora28
MENU LABEL fedora28
  ipappend 2
  kernel fedora/linux/releases/28/Server/x86_64/os/images/pxeboot/vmlinuz
  append initrd=fedora/linux/releases/28/Server/x86_64/os/images/pxeboot/initrd.img repo={{ distros_mirror }}/fedora/linux/releases/28/Server/x86_64/os/ ks={{ ks_url }}/fedora28.ks inst.proxy=http://{{ http_proxy }} ipv6.disable=1 net.ifnames=0 biosdevname=0 {{ kernel_options }}

LABEL debian-stretch
MENU LABEL debian-stretch
  ipappend 2
  kernel {{ distros_mirror }}/debian/dists/stretch/main/installer-amd64/current/images/netboot/debian-installer/amd64/linux
  append initrd={{ distros_mirror }}/debian/dists/stretch/main/installer-amd64/current/images/netboot/debian-installer/amd64/initrd.gz locale=en_US.UTF-8 keymap=us netcfg/get_hostname=debian-stretch netcfg/get_domain=lan auto url={{ ks_url }}/debian-stretch.ks ipv6.disable=1 net.ifnames=0 biosdevname=0 interface=eth0 {{ kernel_options }}

LABEL ubuntu-bionic
MENU LABEL ubuntu-bionic
  ipappend 2
  kernel {{ distros_mirror }}/ubuntu/dists/bionic/main/installer-amd64/current/images/netboot/ubuntu-installer/amd64/linux
  append initrd={{ distros_mirror }}/ubuntu/dists/bionic/main/installer-amd64/current/images/netboot/ubuntu-installer/amd64/initrd.gz locale=en_US.UTF-8 keymap=us netcfg/get_hostname=ubuntu-bionic netcfg/get_domain=lan auto url={{ ks_url }}/ubuntu-bionic.ks ipv6.disable=1 net.ifnames=0 biosdevname=0 interface=eth0 {{ kernel_options }}

LABEL ubuntu-trusty
MENU LABEL ubuntu-trusty
  ipappend 2
  kernel {{ distros_mirror }}/ubuntu/dists/trusty/main/installer-amd64/current/images/netboot/ubuntu-installer/amd64/linux
  append initrd={{ distros_mirror }}/ubuntu/dists/trusty/main/installer-amd64/current/images/netboot/ubuntu-installer/amd64/initrd.gz locale=en_US.UTF-8 keymap=us netcfg/get_hostname=ubuntu-trusty netcfg/get_domain=lan auto url={{ ks_url }}/ubuntu-trusty.ks ipv6.disable=1 net.ifnames=0 biosdevname=0 interface=eth0 {{ kernel_options }}

LABEL ubuntu-xenial
MENU LABEL ubuntu-xenial
  ipappend 2
  kernel {{ distros_mirror }}/ubuntu/dists/xenial/main/installer-amd64/current/images/netboot/ubuntu-installer/amd64/linux
  append initrd={{ distros_mirror }}/ubuntu/dists/xenial/main/installer-amd64/current/images/netboot/ubuntu-installer/amd64/initrd.gz locale=en_US.UTF-8 keymap=us netcfg/get_hostname=ubuntu-xenial netcfg/get_domain=lan auto url={{ ks_url }}/ubuntu-xenial.ks ipv6.disable=1 net.ifnames=0 biosdevname=0 interface=eth0 {{ kernel_options }}
