---
extends: default

ignore: |
  playbooks/zuul/
  roles/ansible-datadog

rules:
  line-length:
    max: 999
  document-start: disable
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
