---

- name: set facts
  setup:
    gather_subset: min
    # min includes ansible_python_version
# cert.pem\nchain.pem\nfullchain.pem\nprivkey.pem
# - shell: |
#     ls /usr/syno/etc/certificate/system/default
#   register: result

# - package:
#     name: rsync
#     use: pkg
#   delegate_to: pfsense
#   become: yes
- name: configure docked
  template:
    src: dockerd.json.j2
    dest: /var/packages/Docker/etc/dockerd.json
  register: result
  become: true

- debug: var=result
