---
  - become: true
    block:
    - file:
        path: "{{ docker_volumes_root }}/{{ item }}"
        state: directory
      with_items:
        - monitoring
        - monitoring/grafana
    - copy:
        src: docker-compose.yml
        dest: /{{ docker_volumes_root }}/monitoring/docker-compose.yml
    - copy:
        src: grafana.ini
        dest: /{{ docker_volumes_root }}/monitoring/grafana/grafana.ini
        force: false

    # - docker_service:
    #     build: yes
    #     debug: yes
    #     project_src: "{{ docker_volumes_root }}/monitoring"
    #     pull: yes
    #     services: metrics
    #   register: result
    - name: deploy monitoring container
      docker_container:
        name: monitoring
        image: samuelebistoletti/docker-statsd-influxdb-grafana
        # command: redis-server --appendonly yes
        state: started
        # recreate: yes
        published_ports:
          - '3003:3003' # grafana
          - '8083:8083' # influxdb-admin
          - '8086:8086' # influxdb
          - '8088:8088' # backup
          - '8089:8089/udp'
          - '8125:8125/udp' # statsd
        volumes:
          - /{{ docker_volumes_root }}/monitoring/grafana:/var/lib/grafana
          - /{{ docker_volumes_root }}/monitoring/grafana/grafana.ini:/etc/grafana/grafana.ini
        output_logs: true
        env:
          GF_DATABASE_TYPE: sqlite3
      register: result
    - debug: var=result

# TODO: configure haproxy for SSL termination of grafana:3003
# pfsense autogenerated config: ./var/etc/haproxy/haproxy.cfg