---
- hosts: baremetals
  gather_facts: false
  strategy: free
  tasks:

    # - pip:
    #     name: pyghmi
    #     state: present
    #     executable: "{% if ansible_python is defined %}{{ ansible_python.executable | default('python') }}{% else %}python{% endif%} -m pip"
    #     extra_args: --user

    - name: set default boot to disk
      ipmi_boot:
        bootdev: hd
        name: "{{ ipmi_address }}"
        uefiboot: "no"
        user: "{{ ipmi_user }}"
        password: "{{ ipmi_password }}"
        persistent: true
      delegate_to: localhost

    - name: set next boot to network (pxe)
      ipmi_boot:
        bootdev: network
        name: "{{ ipmi_address }}"
        uefiboot: "no"
        user: "{{ ipmi_user }}"
        password: "{{ ipmi_password }}"
      delegate_to: localhost
      register: result

    - debug:
        msg: "{{ result }}"

    - name: perform ipmi reboot
      ipmi_power:
        name: "{{ ipmi_address }}"
        user: "{{ ipmi_user }}"
        password: "{{ ipmi_password }}"
        state: boot
        timeout: 10
      register: result
      delegate_to: localhost
      retries: 5
      delay: 5

    - debug:
        msg: "{{ result }}"
