---
dependency:
  name: galaxy
lint:
  name: yamllint
platforms:
  - name: instance
    image: centos:7
# provisioner:
#   name: ansible
#   playbooks:

#   lint:
#     name: ansible-lint
scenario:
  name: default
verifier:
  name: testinfra
  lint:
    name: flake8

driver:
  name: vagrant
  provider:
    name: virtualbox

vagrant:
  raw_config_args:
    - "ssh.pty = true"
  providers:
    - name: virtualbox
      type: virtualbox
      options:
        memory: 512
  platforms:
    - name: trusty64
      box: trusty64
      box_url: https://vagrantcloud.com/ubuntu/boxes/trusty64/versions/14.04/providers/virtualbox.box

  instances:
    - name: pfsense
      ansible_groups:
        - router
